html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    padding: 20px 50px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 50px;
}

.searchInput {
    border: none;
    background-color: transparent;
}

.searchInput::placeholder {
    color: lightgray;
}

.Login {
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.Logo{
    width: 100px;
    height: 100px;
}

.navButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
}

.slider {
    background: url("/img/Fondo.png");
    overflow: hidden;
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 2s ease-in-out;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg {
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}

.sliderImg {
    z-index: 1;
}

.sliderTitle {
    position: absolute;
    top: 10%;
    right: -20%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
}

.sliderPrice {
    position: absolute;
    top: 10%;
    left: -20%;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: white;
    z-index: 1;
    border: 1px solid gray;
}

.buyButton {
    position: absolute;
    top: 50%;
    right: -25%;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
    border: 1px solid gray;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.buyButton2 {
    position: absolute;
    top: 70%;
    right: -25%;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: white;
    z-index: 1;
    border: 1px solid gray;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.buyButton:hover {
    background-color: white;
    color: black;
}
/*
.sliderItem:nth-child(1) .sliderBg {
    background-color: green;
}

.sliderItem:nth-child(2) .sliderBg {
    background-color: blue;
}

.sliderItem:nth-child(3) .sliderBg {
    background-color: red;
}

.sliderItem:nth-child(4) .sliderBg {
    background-color: orange;
}

.sliderItem:nth-child(5) .sliderBg {
    background-color: rgb(17, 208, 238);
}
*/

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon {
    width: 50px;
    height: 50px;
}

.featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

.featureDesc {
    color: gray;
    width: 50%;
    height: 100px;
}

.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 85%);
}

.productImg {
    width: 50%;
}

.productDetails { 
    position: absolute;
    top: 10%;
    right: 0%;
    width: 40%;
    padding: 50px;
}

.productTitle {
    font-size: 75px;
    font-weight: 900;
}

.productDes {
    font-size: 20px;
    color: gray;
    
}

.colors,
.sizes {
    display: flex;
    margin-bottom: 20px;
}

.color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}

.color:last-child {
    background-color: darkblue;
}

.size {
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.productButton {
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover {
    background-color: white;
    color: black;
}

.Usuario {
    z-index: 1;
    width: 300px;
    height: 300px;
}

.payment {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.3);
}

.payment2 {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 10;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.3);
}

.payTitle {
    font-size: 20px;
    color: lightgray;
}

label {
    font-size: 14px;
    font-weight: 300;
}

.payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}

.payInput::placeholder {
    color: rgb(163, 163, 163);
}

.cardIcons {
    display: flex;
}

.cardIcon {
    margin-right: 10px;
    width: 50px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}

.sm {
    width: 30%;
}

.payButton {
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.3);
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}

.close2 {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
}

.gallery {
    padding: 50px;
    display: flex;
}

.galleryItem {
    flex: 1;
    padding: 50px;
}

.galleryImg {
    width: 100%;
}

.newSeason {
    display: flex;
}

.nsItem {
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.nsImg {
    width: 100%;
    height: 500px;
}

.nsTitle {
    font-size: 40px;
}

.nsButton {
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
}

footer {
    display: flex;
}

.footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.fMenuTitle {
    font-size: 16px;
    
}

.fList {
    padding: 0;
    list-style: none;
}

.fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
}

.footerRight {
    flex: 1;
    padding: 50px;
    flex-direction: column;
    justify-content: space-between;
}

.fInput {
    padding: 5px;
}

.fButton {
    padding: 5px;
    background-color: black;
    color: white;
}
 

.fIcons {
    display: flex;
}

.fIcon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    
}

.copyright {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}


#buyHombres{
    right: -45%;
}

.containerR {
    width: 500px;
    height: 730px;
    background-color: white;
    position: relative;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 50px;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 13px 2px rgba(0,0,0,0.3);
}

.Fondo {
    background: url("/img/Fondo.jpg");
    height: 1800px;
}

.w3-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
    flex-direction: column;
}


#contenedor {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#caja1, #caja2, #caja3 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 20%;
    width: 200px;
    height: 200px;
}

#caja1 {
    background-color: rgba(0,0,0,0.767);
    color:azure;    
}
#caja2 {
    background-color: darkslateblue;
    color:azure;    
}
#caja3 {
    background-color: #2ab2ea;
    color:azure;    
}

@media screen and (max-width: 480px){
    nav {
        padding: 20px;
    }

    .slider {
        background: url("/img/Fondo420.png");
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
        overflow: hidden;
    }

    #buyHombres {
        right: 50px;
    }

    .search {
        display: none;
    }

    .navButton {
        flex-wrap: wrap;
    }

    .menuItem {
        margin: 20px;
        font-weight: 700;
        font-size: 20px;
    }

    .slider {
        clip-path: none;
    }

    .sliderImg {
        width: 80%;
    }

    .sliderBg {
        width: 100%;
        height: 100%;
    }

    .sliderTitle {
        display: none;
    }

    .sliderPrice {
        top: unset;
        bottom: -50;
        left: 0;
        background-color: lightgrey;
    }

    .buyButton {
        width: 300px;
        height: 50px;
        right:  50px;
        top: 85%;
        
    }

    .features {
        flex-direction: column;
    }

    .product {
        clip-path: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .productImg {
        width: 80%;
    }

    .productDetails {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
    }

    .productTitle {
        font-size: 50px;
    }

    .gallery {
        display: none;
    }

    .newSeason {
        flex-direction: column;
    }

    .nsItem:nth-child(2) {
        padding: 50px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .fMenuTitle {
        text-align: center;
    }

    .footerLeft {
        padding: 20px;
        width: 90%;
    }

    .footerRight {
        padding: 20px;
        align-items: center;
        background-color: whitesmoke;
    }

    .fIcons {
        justify-content: center;
    }

    .payment {
        width: 90%;
        padding: 20px;
    }
}